<html>
    <head>
        <title>Day of week</title>
    </head>
    <body>
        <p>
            <em>Day: </em><%= date %>
        </p>
        <p>
            <em>Day of Week: </em><%= day_of_week %>
        </p>
    </body>
</html>